html {
	--brand: teal;
	--primary-text: darkslategray;
	--secondary-text: #01a7c2;
	--divider-color: #a3bac3;
	--secondary: #eaebed;
	--space: 16px;
	--space-l: 32px;
	font-family: "Roboto Mono";
	background-color: var(--secondary);
	color: var(--primary-text);

	/* CSS
	--color1: #eaebedff;
	--color2: #006989ff;
	--color3: #a3bac3ff;
	--color4: #007090ff;
	--color5: #01a7c2ff; */
}

body {
	margin: 0;
}

a {
	color: var(--secondary-text);
}

a:hover:not(.no-invert) {
	text-decoration: none;
	background-color: var(--secondary-text);
	color: var(--secondary);
}

hr {
	color: var(--divider-color);
	width: 100%;
}
