---
layout: layouts/base.njk
tags: blog
---

{% include "bio.html" %}
<div className="front-matter">
    <h1>{{ title }}</h1>
    <small>{{ page.date | niceDate }}</small>
</div>
{{ content | safe }}

<div class="all-posts-link">
    <a href="/blog/">← All Posts</a>
</div>