---
layout: layouts/base.njk
tags: blog
---

{% include "bio.html" %}
<div className="front-matter">
    <h1>{{ title }}</h1>
    <small>{{ page.date | niceDate }}</small>
    <div>
        {% for tag in tags %}
        <small><a href="/tags/{{tag}}">{{ tag }}</a></small>
        {% endfor %}
    </div>
</div>
{{ content | safe }}

<div class="all-posts-link">
    <a href="/blog/">← All Posts</a>
</div>