.wrapper {
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	max-width: 768px;
	display: flex;
	flex-direction: column;
	padding-left: var(--space);
	padding-right: var(--space);
}

.header {
	display: flex;
	align-items: center;
}

.navbar {
	font-size: 1.25rem;
}

.navbar > * {
	margin-left: var(--space);
}

.site-title {
	color: var(--brand);
	flex: 1;
	font-size: 3.5rem;
}

.site-title__link {
	text-decoration: none;
	color: inherit;
}

.main {
	flex: 1;
}

.footer {
	margin-top: var(--space);
	margin-bottom: var(--space);
	text-align: center;
}

@media only screen and (max-width: 480px) {
	.header {
		flex-direction: column;
	}
}
